content{
    all: initial;;
}

.project-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: #ffffff;
    border: solid;
    border-color: black;
    border-radius: 2%;
    border-width: 2px;
    padding: 2%;
    margin: 5% 20% 5% 20%;
    filter: drop-shadow(#666666 1rem 1rem 20px);
}

.project-container-right{
    align-items: center;
}

img{
    max-width: 300px;
    border-color: #666666;
    border: solid;
    border-width: 2px;
}

figcaption a{
    text-decoration: none;
}

@media screen and (max-width: 1200px){
    header{
        filter:none;
    }
    .project-container{
        margin: 0;
        border-top: solid;
        border-left: none;
        border-right: none;
        border-bottom: solid;
        border-radius: 0;
        filter: none;
        flex-direction: column;
        align-items: center;
    }
}
