header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 2% 0% 2% 0%;
    position: sticky; 
    top: 0;
    z-index: 1;
    filter: drop-shadow(#666666 .1rem .1rem 20px);

}

#header-name{
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0% 5% 0% 5%;
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 2vh;
    color: #666666;
}

a:hover{
    color:#a8d1df;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #f4f2ee;
    margin: 0;
}

content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: solid;
    border-color: black;
    border-radius: 2%;
    border-width: 2px;
    padding: 2%;
    margin: 5% 20% 5% 20%;
    filter: drop-shadow(#666666 1rem 1rem 20px);
}

footer{
    text-align: center;
}

footer a{
    font-size: 1.3vh;
}

